<!DOCTYPE html>
<html>
<head>
    <title>Translations</title>
</head>
<body>
<h2>Translate:</h2>
<form action="/" method="post">
    <textarea name="text" id="text"></textarea>
    <br />
    <input type="submit">
</form>
<h2>Translations:</h2>
<ul>
    {% for translation in translations %}
    <li>
        <h3>{{ translation.uid }}</h3>
        <dl>
            <dt>Status:</dt>
            <dd>{{ translation.status.value }}</dd>
            <dt>Text:</dt>
            <dd>{{ translation.text }}</dd>
            {% if translation.status.value == 'completed' %}
            <dt>Translation:</dt>
            <dd>{{ translation.translated_text }}</dd>
            {% endif %}
        </dl>
    </li>
    {% endfor %}
</ul>
</body>
</html>
